*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F2F7F8;
}
a{
    text-decoration: none;
    color: #122231;
    line-height: 27px;
    font-weight: 600;
}
li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    li{
        margin: 20px;
        line-height: 27px;
        font-weight: 600;
    }
    ul{
        display: flex;
    }
}

.nav1 ul{
    margin-right: 200px;
}

.nav2{
    a{border: 1px solid #122231;
    border-radius: 10px;
    padding: 15px 15px;
    width: 200px;
    }
    li{
        margin: 5px;
    }
}

.nav2 .brd{
    background-color: #122231;
    color: white;
}

.grid{
    display: none;
}

.hero-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.hero-text{
    h1{
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        padding-right: 20%;
        color: #122231;
        margin: 30px 0;
    }
    p{
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        color: #3D4F60;
        padding-right: 200px;
    }
}

.download{
    img{
        width: 150px;
        margin: 30px 5px;
    }
}

.Report{
    display: block;
    background-color: #0089FF;
    color: white;
    width: 380px;
    height: 40px;
    padding: 10px 35px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    img{
        width: 30px;
    }
}

.Report:hover{
    background-color: #122231;
}

.hero-image{
    img{
        width: 600px;
    }
}

.secure-page{
    display: flex;
    margin: 100px 0 150px;
    padding: 0px 50px;
}

.secure-img{
    img{
        width: 100px;
    }
}

.secure-text{
    margin-left: 30px;
    h2{
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        color: #122231;
    }
    p{
        line-height: 27px;
        font-weight: 400;
        color: #3D4F60;
        padding-right: 40%;
        padding: 20px 40% 15px 0;
    }
    img{
        width: 20px;
    }
}

.text-sec{
    text-align: center;
    margin-bottom: 50px;
    h1{
        color: #122231;
        font-size: 48px;
        line-height: 66px;
        font-weight: 700;
    }
    p{
        color: #3D4F60;
        font-size: 24px;
        line-height: 35px;
        font-weight: 400;
        padding-top: 20px;
    }
}

.card-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 70px 50px;
    /* margin: 50px 0; */
}

.card{
    padding: 60px 30px;
    border-radius: 40px;
    position: relative;
    a{
        color: white;
    }
    h1{font-size: 36px;
        line-height: 42px;
        font-weight: 700;
    }
    p{
        font-size: 19px;
        line-height: 28px;
        font-weight: 400;
        margin-top: 30px;
    }
    img{
        display: none;
    }
    button{
        border: 0;
        margin-top: 180px;
        color: white;
    }
}

.card-image{
    position: absolute;
    bottom: 0;
}

.card:hover{
    img{
        display: block;
        transition: all 350ms;
        width: 200px;
        margin-left: 230px;
    }
    button{
        margin: 0;
    }
}

.investment{
    text-align: center;
    background-color: white;
    padding: 150px 50px;

    h1{
        font-size: 51px;
        line-height: 64px;
        font-weight: 700;
        color:#122231;
        margin-bottom: 20px;
    }
    p{
        font-size: 24px;
        line-height: 33px;
        font-weight: 400;
        color: #3D4F60;
    }
}

.invest-text{
    text-align: left;
    a{
        color: white;
        img{
            width: 20px;
        }
    }
    h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: white;
    }
    p{
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #FED6F1;
        padding-right: 55%;
        margin-bottom: 200px;
    }
}

.invest-image{
    img{
        width: 400px;
        height: 460px;
    }
}

.invest-card{
    margin-top: 50px;
    background-color: #7913E5;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0;
}

.video-sec{
    text-align: center;
}

.video-text{
    padding: 100px;
    h1{
        font-size: 51px;
        line-height: 64px;
        font-weight: 700;
        color:#122231;
        margin-bottom: 20px;
    }
    p{
        font-size: 24px;
        line-height: 33px;
        font-weight: 400;
        color: #3D4F60;
        padding: 0 10%;
    }
}

iframe{
    border: 15px solid white;
    border-radius: 30px;
    margin-bottom: 200px;
}

.stories-image{
    img{
        width: 450px;
    }
}

.stories-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 50px;
}

.stories-link{
    a{
        border: 1px solid #BBBBBB;
        padding: 12px 15px;
        text-align: center;
        margin: 5px;
        border-radius: 10px;
        img{
            width: 20px;
        }
    }
}

.stories-section a:hover{
    font-size: 18px;
    transition: all 350ms;
}

.stories-text{
    padding: 0 90px;
    h1{
        font-size: 33px;
        line-height: 41px;
        font-weight: 700;
        color: #122231;
        margin-bottom: 30px;
    }
}

.sponsors-text{
    text-align: center;
    font-size: 18px;
    line-height: 41px;
    margin-bottom: 30px;
    color: #122231;
}

.sponsors-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        width: 130px;
    }
}

.sponsors{
    margin-bottom: 150px;
    padding: 0 50px;
}

.socials-logo{
    img{
        width: 30px;
    }
}
.prop-img{
    width: 100px;
}
.prop-img .cert{
        width: 150px;
        margin-top: 30px;
}

.prop-page{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 50px;
    a{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #3D4F60;
    }
    h5{
        color: #122231;
        font-size: 14px;
        line-height: 22px;
    }
    li{
        margin: 10px 0;
    }
}

.prop-page li a:hover{
    color: #53BEF6;
}

.prop-img{
    display: flex;
    flex-direction: column;
}

.socials{
    text-align: right;
}

.pg{
    font-size: 11px;
    line-height: 22px;
    color: #898e97;
    padding: 0 50px;
    width: 55%;
    margin-top: 30px;
    .three{
        margin-top: 30px;
        color: #083EB7;
    }
}
.links{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 0 150px;
}




@media screen and (max-width:720px) {
    nav{
        padding: 10px 30px;
        margin: 0;
    }
    .nav1, .nav2{
        display: none;
    }
    .logo{
        img{
            width: 100px;
        }
    }
    .grid{
        display: block;
        width: 15%;
        text-align: end;
        img{
            width: 30px;
        }
    }
    .hero-page{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px 30px;
        /* padding: 0; */
    }
    .Report{
        display: block;
        background-color: #0089FF;
        color: white;
        width: 90%;
        height: 50px;
        padding: 10px 35px;
        border-radius: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        a{
            font-size: 14px;
        }
        img{
            width: 20px;
        }
    }
    .hero-text{
        text-align: center;
        margin: 0;
        h1{
            font-size: 28px;
            line-height: 30px;
            font-weight: 700;
            padding: 0;
            color: #122231;
            margin: 30px 0;
        }
        p{
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            color: #3D4F60;
            padding: 0px;
        }
    }
    .download{
        margin: 0;
        img{
            width: 100px;
            /* margin: 30px 5px; */
        }
    }
    .hero-image{
        text-align: center;
        img{
            width: 280px;
        }
    }
    .secure-page{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0 30px;
        margin: 50px 0;
    }
    .secure-text{
        margin: 0;
        h2{
            font-size: 30px;
            line-height: 33px;
            font-weight: 700;
            color: #122231;
            padding: 20px 0px;
        }
        p{
            line-height: 26px;
            font-weight: 400;
            color: #3D4F60;
            padding:10px 0px;
            font-size: 16px;
        }
        a{
            font-size: 16px;
        }
        img{
            width: 20px;
        }
    }
    .text-sec{
        text-align: center;
        margin-bottom: 50px;
        padding: 0 30px;
        h1{
            color: #122231;
            font-size: 30px;
            line-height: 35px;
            font-weight: 700;
        }
        p{
            color: #3D4F60;
            font-size: 16px;
            line-height: 35px;
            font-weight: 400;
            padding-top: 20px;
        }
    }
    .card-page{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 30px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        gap: 10px 0;
    }
    .card{
        position: relative;
        height: 400px;
        padding: 20px;
        box-sizing: border-box;
        h1{font-size: 30px;
            line-height: 42px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            margin-top: 10px;
            padding: 0;
        }
        button{
            margin: 0;
        }
        img{
            width: 90px;
            height: 200px;
        }
    }

    .card-image{
        position: absolute;
        bottom: 0;
        right: 20px;
        img{
            width: 50px;
        }
    }

    .investment{
        text-align: center;
        background-color: white;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr;
    
        h1{
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            line-height: 26px;
        }
    }    
    .invest-text{
        text-align: center;
        padding: 20px 30px;
        margin: 100px 0;
        a{
            img{
                width: 15px;
            }
        }
        h1{
            font-size: 30px;
            line-height: 35px;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            padding-right: 0;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .invest-card{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px ;
        padding-bottom: 0;
        margin: auto;
    }
    .invest-image{
        margin-top: 20px;
        img{
            width: 200px;
            height: 200px;
        }
    }
    .video-sec{
        margin: auto;
        padding: 80px 30px;
    }
    .video-text{
        padding: 0;
        margin: 0;
        h1{
            font-size: 30px;
            line-height: 35px;
            font-weight: 700;
            margin-bottom: 20px;
            padding: 0;
        }
        p{
            font-size: 16px;
            line-height: 33px;
            font-weight: 400;
            padding: 0;
        }
    }
    
    iframe{
        border: 15px solid white;
        border-radius: 30px;
        margin-bottom: 50px;
        width: 100%;
    }

    .stories-section{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
        text-align: center;
    }

.stories-link{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0;
    padding: 0;
    margin: 0;
    a{
        padding: 8px 10px;
        margin: auto;
        width: 70%;
        img{
            width: 20px;
        }
    }
}

    .stories-image{
        padding: 0;
        margin-top: 60px;
        img{
            width: 300px;
        }
    }
    
    .stories-text{
        padding: 0;
        h1{
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 30px;
        }
    }
    .sponsors-image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 0;
        text-align: center;
        padding: 0;
        img{
            width: 100px;
        }
    }
    .sponsors-text{
        padding: 0;
        text-align: center;
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    
    .sponsors{
        margin-bottom: 150px;
        padding: 0 30px;
    }

    .socials-logo{
        img{
            width: 15px;
        }
    }
    .prop-img{
        width: 80px;
    }
    .prop-img .cert{
            width: 100px;
            margin-top: 30px;
    }
    
    .prop-page{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 0;
        h5{
            padding-top: 50px;
        }
    }
    .links{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0;
    }
    .pg{
        padding: 0 30px;
        font-size: 9px;
        width: 100%;
    }
    .socials{
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 30px;
        .socials-logo{
            margin-bottom: 10px;
        }
    }
    .address{
        line-height: 30px;
    }
}